<p>Project Details</p>
<a routerLink="/products">Add products</a>
<p></p>

<ng-container *ngIf="project">
  <ng-container *ngIf="project.products.length > 0; then productsBlock else emptyBlock"></ng-container>
  <ng-template #productsBlock>
    <ul>
      <li *ngFor="let product of project.products">
        Name: {{ product.name }}, Carbon Amount {{ product.carbonAmount  }} <button (click)="remove(product)">X</button>
      </li>
    </ul>
    <p>Total carbon amount: {{ carbonTotal }}</p>
  </ng-template>
  <ng-template #emptyBlock>
    <p>There are no products assigned to this project yet,</p>
    <p>First add some products</p>
    <button routerLink="/products">Add products</button>
  </ng-template>

</ng-container>
