<p>Available products</p>
<a routerLink="/project">Go to project</a>
<p></p>

<div class="container">
  <div *ngFor="let product of products" class="card">
    <p>Name: {{ product.name }}</p>
    <p>Carbon: {{ product.carbonAmount }}</p>
    <button (click)="add(product)">Add</button>
  </div>
</div>
